sudo: false
language: python
python:
  - "2.7"
cache: pip
env:
  - DJANGO_VERSION='django<1.11'
  - DJANGO_VERSION='django>=1.11,<1.12'
install:
  - pip install -r requirements-dev.txt
  - pip install coveralls
script:
  - DJANGO_SETTINGS_MODULE=test_settings coverage run --source='google_analytics' `which django-admin.py` test
  - flake8
after_success:
  - coveralls
deploy:
  provider: pypi
  user: Praekelt
  password:
    secure: O0feip8iJtd8Pulu2m9qcAg2yqwBUe5FsvYSaWTJke8a9oiS4xGittATKqbxUZNvFjHpbS79V2032IPDs+oNePwotSavPiKeSF1xNxAaeGuEH7nFuaYQ4/RzLpHHYU3KT61sa32U+bdH3AoDvAb/5MzlLucTVGLEuCUpHXLhcx0=
  on:
    tags: true
    all_branches: true
